<link href='https://fonts.googleapis.com/css?family=Allerta Stencil' rel='stylesheet'>

<style>
  h1 {
      font-family: 'Allerta Stencil';
      	font-size: 75px;
      	font-style: normal;
      	font-variant: normal;
      	font-weight: 500;
      	line-height: 26.4px;
        text-align:center;

      }
  h2{
    font-family: 'Allerta Stencil';
    text-align:center;
  }
  h3{
    font-family: 'Allerta Stencil';
    text-align:center;
  }
  .row1{
    background-color: #ffaa80;
    background-image: url('<%= asset_path("education.png")%>');
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .row2{
    background-color: white;
    padding-bottom: 30%;
  }
</style>



<body>
  <div class="container-fluid">
    <div class="row">
      <div class= "row1">
        <br><br>
        <br>
        <h1><strong>BS in Computer Science</strong></h1>
        <br>
        <h2><strong>@Brandeis University</strong><h2>
        <br><br>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class= "row2">
        <br><br><br><br>
        <h3> Classes I've Taken </h3>
          <ul style="text-align:center;list-style-type: none;">
            <li><a href="http://www.brandeis.edu/registrar/schedule/course?acad_year=2018&crse_id=013497">Capstone for Software Engineering</a></li>
            <li>Operating Systems</li>
            <li>Mobile Application Development</li>
          </ul>
      </div>
    </div>
  </div>


</body>
